<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Express App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to My Express App</h1>
    <form action="/users" method="post">
        <input type="text" name="name" placeholder="Enter name">
        <button type="submit">Add User</button>
    </form>
    <hr>
    <!-- List of users -->
</body>
</html>
